<html>
	<head>
		#META#
		<link rel="stylesheet" href="css/theme.css" type="text/css">
	</head>
	<body>							
		<table border="0" width="814" height="100%" align="center" cellspacing="0" cellpadding="1">
			<tr>
				<td height="25" valign="top">
					<table border="0" width="100%" cellspacing="0" cellpadding="0">
						<tr>
							<td width="12" height="11" valign="top"><img src="images/web_menuleft.gif"></td>
							<td background="images/web_menuloop.gif" align="center" valign="middle">#MENU1#</td>
							<td width="12" valign="top"><img src="images/web_menuright.gif"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="133"><a href="index.php" target="_top"><img src="images/logo.png" border="0"></a></td>
			</tr>
			<tr>
				<td valign="top" height="100%">
					<table border="0" width="100%" height="100%" cellspacing="0" cellpadding="0">
						<tr class="barresearch">
							<td width="12" valign="top"><img src="images/search_left.gif"></td>
							<td background="images/search_loop.gif" valign="middle" style="background-repeat: repeat-x;" class="chemin">#CHEMINDEFER#</td>
							<td align="right" background="images/search_loop.gif" style="background-repeat: repeat-x;" valign="top">#RECHERCHE#</td>
							<td width="12"  valign="top"><img src="images/search_right.gif"></td>
						</tr>	
						<tr>
							<td width="12" height="6"><img src="images/page_shadowleft.gif"></td>
							<td background="images/page_shadowmiddle.gif" colspan=2></td>
							<td width="12" height="6"><img src="images/page_shadowright.gif"></td>
						</tr>
						<tr>
							<td width="12" background="images/page_loop_left.gif" height="100%"></td>
							<td valign="top" bgcolor="#FFFFFF" align="center" colspan="2" height="100%">
							#CONTENU#</td>
							<td width="12" background="images/page_loop_right.gif" height="100%"></td>
						</tr>	
						<tr bgcolor="#FFFFFF">												
							<td width="12" background="images/page_loop_left.gif" height="100%"></td>
							<td colspan="2" height="12"></td>
							<td width="12" background="images/page_loop_right.gif" height="100%"></td>
						</tr>							
						<tr class="linebas">
							<td colspan="4"></td>
						</tr>									
					</table>					
				</td>
			</tr>	
			<tr>
				<td align="center" class="basdepage">#MENTION#</td>
			</tr>		
		</table>
	</body>
</html>